<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
	<meta charset="UTF-8">
	<title>User Devices</title>
</head>
<body>
	<div layout:fragment="content">

		<header>
			<h5>
				<b>
					<i class="fas fa-tachometer-alt"></i> 
					Using Devices
					<span th:if="${selectedRoom}">
						<span>(</span><span th:text="${selectedRoom}"></span><span>)</span>
					</span>
				</b>
			</h5>
		</header>

		<div class="grid-container">
			<div th:each="device : ${devices}">
				<div class="grid-item" th:classappend="${device.deviceType.groupColor}" th:attr="data-id=${device.id}">
					<div class="grid-item-content">
						<div>
							<i class="fa fa-4x" th:classappend="${device.deviceType.icon}"></i>
							<div class="float-right">
								<label class="switch">
									<input type="checkbox" th:checked="${device.isStatusOn()}" class="success btnToggle" href="#" 
										   th:href="@{/devices/{id}/updateStatus/{status}(id=${device.getId()}, status=${!device.isStatusOn()})}">
									<span class="slider round"></span>
								</label>
							</div>
						</div>
						<div>
							<h3 th:text="${device.getName()}"></h3>
						</div>
					</div>
					
					<div class="grid-item-action" th:if="${device.getInteractionType() == 'plusminus'}">
						<div class="grid-item-action-info">
							<h3 th:text="${device.getInformationText()}"></h3>
						</div>
						<div class="input-group number-spinner">
							<span>
								<button type="button" class="btn btn-minus btn-danger" data-action="minus" href="#"
										th:href="@{/devices/{id}/updateValue/{value}(id=${device.getId()})}">
									<span class="fas fa-minus-square"></span>
								</button>
							</span>
							<input type="text" class="form-control input-group-text font-weight-bold" disabled
									th:value="${device.getInformationValue()}" 
									th:min="${device.getDeviceType().getMinValue()}"
									th:max="${device.getDeviceType().getMaxValue()}" />

							<span>
								<button type="button" class="btn btn-plus btn-success" data-action="plus" href="#"
										th:href="@{/devices/{id}/updateValue/{value}(id=${device.getId()})}">
									<span class="fas fa-plus-square"></span>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>