<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="_fragments_/header :: head"></head>
<body>
    <div class="page-wrapper chiller-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
            
                <div th:replace="_fragments_/menuHeader :: sidebar-header"></div>
                
                <div th:switch="${loggedInUser.getRole()}" class="sidebar-menu">
                	<div th:case="ADMIN">
                		<div th:replace="_fragments_/menuAdmin :: sidebar-menu"></div>
                	</div>
                	<div th:case="USER">
                		<div th:replace="_fragments_/menuUser :: sidebar-menu"></div>
                	</div>
                </div>
                
            </div>
        </nav>

        <main class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" layout:fragment="content">Welcome to the Home Automation app!</div>
                </div>
            </div>
        </main>
    </div>
	
	<div th:replace="_fragments_/footer :: footer"></div>
</body>

</html>