<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	
	    <title>Home Automation</title>
	    <!-- Bootstrap core CSS -->
	    <link href="vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	
	    <!-- Custom fonts for this template -->
	    <link href="vendor/font-awesome/css/fontawesome-all.min.css" th:href="@{/vendor/font-awesome/css/fontawesome-all.min.css}" rel="stylesheet">
	    <link href="vendor/devicons/css/devicons.min.css" th:href="@{/vendor/devicons/css/devicons.min.css}" rel="stylesheet">
	    <link href="vendor/simple-line-icons/css/simple-line-icons.css" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet">
	
	    <!-- Custom styles for this template -->
	    <link href="css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
	    <link href="css/sidebar.css" th:href="@{/css/sidebar.css}" rel="stylesheet">
	    <!-- https://bootsnipp.com/snippets/GaxR2 -->
	    <link href="css/switch.css" th:href="@{/css/switch.css}" rel="stylesheet">
	</head>
</html>