<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="sidebar-menu">
		<ul>
			<li class="header-menu">
                <span>Devices Management</span>
            </li>
            <li>
                <a href="#" 
                   th:href="@{/devices/user/{id}(id=${loggedInUser.getId()})}">
                    <i class="fa fa-cogs"></i>
                    <span>All rooms</span>
                </a>
            </li>
            <li class="sidebar-dropdown">
                <a href="#">
                    <i class="fa fa-bed"></i>
                    <span>Specific rooms</span>
                </a>
                <div class="sidebar-submenu">
                    <ul>
						<li th:each="roomDevicesCount : ${roomsDevicesCount}" >
							<a href="#" 
							   th:href="@{/devices/user/{userId}/room/{roomId}(userId=${loggedInUser.getId()}, roomId=${roomDevicesCount.getRoom().getId()})}"
                               th:text="|${roomDevicesCount.getRoom().getName()} (${roomDevicesCount.getUserDevicesCount()})|">
							   Room
							</a>
						</li>
					</ul>
                </div>
            </li>
        </ul>
	</div>
</body>
</html>