<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="sidebar-menu">
		<ul>
			<li class="header-menu">
				<span>System Management</span>
			</li>
			<li>
				<a href="#" th:href="@{/admin/people}">
					<i class="fa fa-user"></i> <span>Users</span>
				</a>
			</li>
			<li>
				<a href="#" th:href="@{/admin/deviceTypes}"> 
					<i class="fa fa-cogs"></i> <span>Device Types</span>
				</a>
			</li>
			<li>
				<a href="#" th:href="@{/admin/devices}">
					<i class="fa fa-tv"></i> <span>Devices</span>
				</a>
			</li>
			<li>
				<a href="#" th:href="@{/admin/rooms}">
					<i class="fa fa-bed"></i> <span>Rooms</span>
				</a>
			</li>

			<li class="header-menu">
				<span>Devices Management</span>
			</li>
			<li>
				<a href="#" th:href="@{/admin/devices/user/all}">
					<i class="fa fa-cogs"></i> <span>All rooms</span>
				</a>
			</li>
			<li class="sidebar-dropdown">
				<a href="#"> 
					<i class="fa fa-bed"></i> <span>Specific rooms</span>
				</a>
				<div class="sidebar-submenu">
					<ul>
						<li th:each="room : ${rooms}">
							<a href="#"
							   th:if="${room.getDevices().size() != 0}"
							   th:href="@{/admin/devices/user/all/room/{roomId}(roomId=${room.getId()})}"
							   th:text="|${room.getName()} (${room.getDevices().size()})|">
							   Room 
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>